body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
}

.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5px);
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
}

#close_btnn {
  display: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.sidebar .title {
  margin-left: 10px;
}

.main {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  padding: 10px;
  border: 1px solid #ccc;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  text-align: left;
  background: linear-gradient(
    to top right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5px);
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
    border: 1px solid #ddd;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .title {
    display: none;
  }

  .main {
    margin-left: 60px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
    margin: 10px 0;
  }
}

@media (max-width: 425px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 20px;
    padding: 10px;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search {
    width: 100%;
  }

  .search input {
    width: 100%;
  }
  #close_btnn {
    display: block;
  }
}
